[Unit]
Description=PB - Timer for monthly update compliance report

[Timer]
OnCalendar=*-*-01 03:00:00
Persistent=true
RandomizedDelaySec=30m
AccuracySec=1m

[Install]
WantedBy=timers.target